<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiterServlet</filter-name>
        <filter-class>thanglt.filters.FiterServlet</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiterServlet</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>thanglt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>thanglt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitSearchController</servlet-name>
        <servlet-class>thanglt.controllers.InitSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchHistoryController</servlet-name>
        <servlet-class>thanglt.controllers.SearchHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToPromotionController</servlet-name>
        <servlet-class>thanglt.controllers.AddToPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmPromotionController</servlet-name>
        <servlet-class>thanglt.controllers.ConfirmPromotionController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateUserController</servlet-name>
        <servlet-class>thanglt.controllers.CreateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitUpdateController</servlet-name>
        <servlet-class>thanglt.controllers.InitUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>thanglt.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateItemController</servlet-name>
        <servlet-class>thanglt.controllers.UpdateItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveItemController</servlet-name>
        <servlet-class>thanglt.controllers.RemoveItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitHistoryController</servlet-name>
        <servlet-class>thanglt.controllers.InitHistoryController</servlet-class>
    </servlet> 
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitSearchController</servlet-name>
        <url-pattern>/InitSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchHistoryController</servlet-name>
        <url-pattern>/SearchHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToPromotionController</servlet-name>
        <url-pattern>/AddToPromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmPromotionController</servlet-name>
        <url-pattern>/ConfirmPromotionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateUserController</servlet-name>
        <url-pattern>/CreateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitUpdateController</servlet-name>
        <url-pattern>/InitUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateItemController</servlet-name>
        <url-pattern>/UpdateItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveItemController</servlet-name>
        <url-pattern>/RemoveItemController</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>InitHistoryController</servlet-name>
        <url-pattern>/InitHistoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
